openapi: 3.0.0
info:
  title: Spector
  version: '1.0'
  description: To support adding / removing users from spector
  contact:
    name: Abdallah
servers:
  - url: 'https://api-partner.a.bluejeansapps.com'
    description: ''
paths:
  /admin/add:
    post:
      summary: POST
      tags: []
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-key
          required: true
        - schema:
            type: string
            default: application/json
          in: header
          name: Content-Type
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: ''
              properties:
                userID:
                  type: string
                channelId:
                  type: string
              required:
                - userID
                - channelId
            examples: {}
      description: add users
      operationId: addUserbyIdChannel
  /admin/delete:
    delete:
      summary: DELETE
      tags: []
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-key
          required: true
        - schema:
            type: string
          in: header
          name: Content-Type
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: |-
                { "userId": "",

                "channelId": ""
                }
              properties:
                userId:
                  type: string
                channelId:
                  type: string
              required:
                - userId
                - channelId
            examples: {}
      description: remove users
      operationId: delUserbyIdChannel
components:
  schemas: {}
